@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,500,700&display=swap');
body{font-family: 'Titillium Web', sans-serif;font-size: 14px!important;color: #000!important;background: #e2e2e2;font-size: 14px!important;color: #000!important;background: url(https://www.batman-stream.tv/images/batman-bg-web.jpg);      */: ;background-repeat: no-repeat;background-attachment: fixed;background-position: 50% 0;background-size: cover;}.top__header{
}.text__header h1{margin: 0 0 0 5px;padding:0;font-style:italic;text-transform:none;color: #ffffff;font-size: 11px;/* text-shadow:2px 2px 0 rgba(0,0,0,0.75); */}.top__menu{/* clear:both; *//* width: 100%; *//* position:relative; *//* top: 1px; */font-weight: bold;/* background: #c8c8c8; *//* float: right; *//* border-bottom: 1px solid #2b69b7; *//* background: #e9c804; */}.sports_menu li a{text-decoration:none;/* text-align:center; */padding: 15px 15px;/* border-radius:3px 3px 0 0; */color: #fff;/* line-height: 1; */font-size: 16px;}.page.container {
  margin-top: 0;
  border-radius: 0;
  /* background: #000000; */
}.selected, .sports_menu li a:hover{/* text-decoration: underline !important; */}.active{/* background: #ffda00; *//* box-shadow: inset 0 -3px 0 #000000; */color: #d0bb06 !important;background: #000000;/* color: #fff; */}ul.nav.navbar-nav.sports_menu{
    width: 100%;
    display: flex;
    align-items: center;
}footer{margin: 0 0 0 0;/* background: #000000; */color: #fff;/* z-index: 100000000000001; *//* display: block; *//* position: relative; */}
.selected {
}
a.logo {
    padding: 0 !important;
}

.collapse.navbar-collapse.top__menu.submenu.affix {
    z-index: 999999;
    width: 100%;
    /* position:fixed; */
    top:0;
    /* box-shadow: 0 5px 10px #00000059, inset 0 -30px 0 #ffffff0d; */
    background: #000;
}
ul.nav.navbar-nav.sports_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.h3, h3 {
    font-size: 13px;
    color: #ffffff;
    margin: 0;
    /* border-bottom: 2px dotted; */
    padding: 5px;
    /* background: #000; */
    text-align: left;
}
h1.animated.slideInLeft {
    margin: 0;
}
.page-header {
    /* padding-bottom: 9px; */
    /* margin: 40px 0 20px; */
    /* background: #3c3c3c; */
    /* font-weight: bold; */
    /* padding: 30px; */
    /* border-radius: 6px; */
    text-align: center;
    color: #000000;
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
    /* background: url(../images/1.jpg); */
    /* background-size: cover !important; */
    /* background-position: center !important; */
    /* font-style: italic; */
    font-size: 17px;
    /* font-size: 65px; */
    margin-bottom: 20px;
    color: #fff;
    /* height: 300px; */
}
.well, .main {
    /* background: #3c3c3c; */
    /* padding: 5px; */
    border-radius: 6px;
    text-align: center;
    color: #d9d9d9;
}
.p.well {
    /* background: #f1f1f1; */
    /* border-radius: 0; */
    /* border-top: 3px solid #ddd; */
    /* border-bottom: 3px solid #ddd; */
    font-weight: bold;
    border-radius: 0;
    /* margin: 5px 0 0 0; */
}
.well {
	/* margin: 20px 0 0 0; */
	/* background: #3c3c3c; */
	padding: 20px;
	border-radius: 6px;
	text-align: center;
	color: #d9d9d9;
}
.sports_row{margin:0 auto;top:0;margin:0!important;z-index:100;width:100%;margin:0;background:#fff;text-align:center;box-shadow:0 1px 2px #1c222f}.sports_row_icon{vertical-align:middle;display:inline-block;width:20px;height:20px;margin:0 3px 0 0;background:transparent url(/images/sports_row.png) -1px -1px no-repeat}.other-icon{vertical-align:middle;display:inline-block;width:29px;height:20px;margin:0 3px 0 0;background:transparent url(/images/sports_row.png) -1px -1px no-repeat}.live-icon{vertical-align:middle;display:inline-block;width:17px;height:17px;margin:0 3px 0 0;background:transparent url(/images/liveG.gif) -1px -1px no-repeat}.notlive-icon{vertical-align:middle;display:inline-block;width:14px;height:14px;margin:0 3px 0 0;background:transparent url(/images/notlive.png) -1px -1px no-repeat}.moreicons{vertical-align:middle;display:inline-block;margin:0 3px 0 0;background:transparent url(/images/logosimg.png) -1px -1px no-repeat}.sports_row_icon.football{background-position:-1px -484px}.sports_row_icon.ice-hockey{background-position:-1px -400px}.sports_row_icon.tennis{background-position:-1px -505px}.sports_row_icon.basketball{background-position:-1px -169px}.sports_row_icon.handball{background-position:-1px -379px}.sports_row_icon.volleyball{background-position:-1px -547px}.sports_row_icon.baseball{background-position:-1px -148px}.sports_row_icon.american-football{background-position:-1px -43px}.sports_row_icon.rugby-union{background-position:-1px -463px}.sports_row_icon.minority{background-position:-1px -22px}.sports_row_icon.aussie-rules{background-position:-1px -64px}.sports_row_icon.badminton{background-position:-1px -85px}.sports_row_icon.bandy{background-position:-1px -127px}.sports_row_icon.beach-volleyball{background-position:-1px -211px}.sports_row_icon.boxing{background-position:-1px -232px}.sports_row_icon.floorball{background-position:-1px -316px}.sports_row_icon.futsal{background-position:-1px -337px}.sports_row_icon.rowket{background-position:-1px -253px}.sports_row_icon.mma{background-position:-1px -526px}.sports_row_icon.beach-soccer{background-position:-1px -190px}.sports_row_icon.field-hockey{background-position:-1px -295px}.sports_row_icon.rugby-league{background-position:-1px -442px}.sports_row_icon.snooker{background-position:-1px -106px}.sports_row_icon.table-tennis{background-position:-1px -421px}.sports_row_icon.darts{background-position:-1px -274px}.sports_row_icon.water-polo{background-position:-1px -568px}.sports_row_icon.netball{background-position:-1px -589px}.sports_row_icon.golf{background-position:-1px -610px}.sports_row_icon.pesapallo{background-position:-1px -631px}.sports_row_icon.motorsport{background-position:-1px -652px}.sports_row_icon.motorsport-auto-racing{background-position:-1px -673px}.sports_row_icon.motorsport-moto-racing{background-position:-1px -694px}.sports_row_icon.cycle{background-position:-1px -715px}.sports_row_icon.ufc{background-position:-1px -736px}.sports_row_icon.moto{background-position:-1px -757px}.sports_row_icon.afl{background-position:-1px -778px}.sports_row_icon.other{background-position:-22px -1px}.other-icon.online{background-position:-23px -22px}.other-icon.offline{background-position:-22px -43px}.sports_row a{display:block;text-decoration:none;color:#333;font-size:11px}
section.sidebar {
    background: #c6c6c6;
    min-height: 3178px;
    border-left: 3px solid #ddd;
}
.parallax, .parallax-scrl {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
}
.bg2 {
    /* background-image: url(../images/bg_footer.jpg); */
    background-color: #000;
}
.pad60 {
    padding: 60px 0;
}
.overlay, .overlay2 {
    position: relative;
}
div.page-header {
    margin: 0;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}
.page-header h2 {
    /* float: left; */
    /* padding: 50px 0; */
    /* font-size: 30px; */
    margin: auto;
    font-weight: bold;
    color: #0d0d0d;
}
.page-header.page-header.bdcmb-bg2.page-head.parallax.overlay {
    /* margin: 70px 0 0 0; */
}
/**********************
 *CSS Animations by:
 *http://codepen.io/vivinantony
***********************/
.spinner1 {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  #btt {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    margin-right: 30px;
    right: 0;
    background-color: #ff553a;
    z-index: 99999999;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    opacity:.7;
}
#btt:hover {
    opacity:1;
    
}
a#btt span {
    /* top: 5px !important; */
    font-size: 80%;
}
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  
  .spinner2 {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  
  .container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #fff;
  
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .spinner2 .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  
  .circle1 { top: 0; left: 0; }
  .circle2 { top: 0; right: 0; }
  .circle3 { right: 0; bottom: 0; }
  .circle4 { left: 0; bottom: 0; }
  
  .container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  .container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  
  .container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  
  .container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  .container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  
  .container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
  
  .container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
  
  .container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
  
  @-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes bouncedelay {
    0%, 80%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 40% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  
  .spinner3 {
    width: 40px;
    height: 40px;
    position: relative;  
    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;
    
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  
  .spinner4 {
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  
  .spinner5 {
    width: 32px;
    height: 32px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }
  
  .spinner6 {
    width: 50px;
    height: 30px;
    text-align: center;
  }
  
  .spinner6 > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    margin-left:2px;
    display: inline-block;
    
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner6 .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner6 .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner6 .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner6 .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
    .spinner7 {
        width: 90px;
        height: 30px;
        text-align: center;
      }
  
      .spinner7 > div {
        background-color: #fff;
        height: 15px;
        width: 15px;
        margin-left:3px;
        border-radius: 50%;
        display: inline-block;
        
        -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
        animation: stretchdelay 0.7s infinite ease-in-out;
      }
  
      .spinner7 .circ2 {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
      }
  
      .spinner7 .circ3 {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
      }
  
      .spinner7 .circ4 {
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
      }
  
      .spinner7 .circ5 {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
      }
  
      @-webkit-keyframes stretchdelay {
        0%, 40%, 100% { -webkit-transform: translateY(-10px) }  
        20% { -webkit-transform: translateY(-20px) }
      }
  
      @keyframes stretchdelay {
        0%, 40%, 100% { 
          transform: translateY(-10px);
          -webkit-transform: translateY(-10px);
        } 20% {
          transform: translateY(-20px);
          -webkit-transform: translateY(-20px);
        }
      }


ul.nav.navbar-nav.sports_menu>li>img {
    width: 32px;
    margin: 5px;
}

a.stream-now {
    -webkit-filter: brightness(95%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    /* opacity: 0.8; */
}
.light {

 
 animation: light 3s infinite;
 -webkit-animation: light 3s infinite;
 -moz-animation: light 3s infinite;
 -o-animation: light 3s infinite;
}
a.stream-now:hover {
    /* -webkit-filter: brightness(-65%); */
 
}

a.stream-now {}

@-webkit-keyframes light {
 0%, 20%, 50%, 80%, 100% {-webkit-filter: brightness(100%);} 
 0% {-webkit-filter: brightness(130%);}
 100% {-webkit-filter: brightness(100%);}
}
 
@-moz-keyframes light {
 0%, 20%, 50%, 80%, 100% {-webkit-filter: brightness(100%);} 
 0% {-webkit-filter: brightness(130%);}
 100% {-webkit-filter: brightness(100%);}
}
 
@-o-keyframes light {
 0%, 20%, 50%, 80%, 100% {-webkit-filter: brightness(100%);} 
 0% {-webkit-filter: brightness(130%);}
 100% {-webkit-filter: brightness(100%);}
}
@keyframes light {
 0%, 20%, 50%, 80%, 100% {-webkit-filter: brightness(100%);} 
 0% {-webkit-filter: brightness(130%);}
 100% {-webkit-filter: brightness(100%);}
}
	@media screen and (max-device-width: 640px) { 

        h1 {font-size:25px !important;padding: 0;margin: 0;}
        h2 {font-size: 16px !important;margin: 10px !important;}
        .page-header.page-header.bdcmb-bg2.page-head.parallax.overlay {
         margin: 30px 0 0 0;
        }
    }

 
    body *,
  html * {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .page-header { background:none }
a {
    color: #ff553a;
    text-decoration: none;
}
  
  .full {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
  }
  
  .zoom {
    animation: scale 180s linear infinite;
  }
    
  @keyframes scale {
    50% {
      -webkit-transform:scale(1.5);
      -moz-transform:scale(1.5);
      -ms-transform:scale(1.5);
      -o-transform:scale(1.5;
      transform:scale(1.5);
    }
  }
  
    @media screen and (max-device-width: 640px) { 
  
  h1 {font-size:25px !important;padding: 0;margin: 0;}
  h2 {font-size: 16px !important;margin: 10px !important;}
  .page-header.page-header.bdcmb-bg2.page-head.parallax.overlay {
   margin: 70px 0 0 0;
  }
  .full {
   
      top: -100px;
  }
  }